@charset "utf-8";
/* CSS Document */

div,body,ul,li,a,span,h1,h2,h3,h4,img,p,dl,dd,dt,input,form,i,em{ padding:0; margin:0;}
li{ list-style:none;}
a{ text-decoration:none;}
img{ border:0 none; vertical-align:top;}
html{ font-size: 625%;}
body{ font-family:"微软雅黑"; font-size:0.24rem; background: #001431; max-width:640px; min-width: 320px; margin:0 auto;}
.clearfix{ *zoom:1;}
.clearfix:after{ content:"."; display:block; visibility:hidden; clear:both; height:0;}

#header{ width: 6.4rem; height: 2.61rem;}
.shangbu-tou{width:6.4rem; height: 0.6rem; 
background: url(../img/tou-bg.png) no-repeat top; 
font-size: 0.3rem; line-height: 0.6rem; font-weight: bold; color: #fffc00; text-align: center;}
.shangbu-movie{ width: 6.16rem;  margin: 0.07rem  auto 0.17rem; border: 0.02rem solid #0b2a56; border-radius: 0.08rem; box-shadow: 0 0 0.03rem 0.03rem #0a1e3b;}
.shangbu-movie-main{ width: 5.93rem; height: 2.68rem; margin: 0.11rem 0 0 0.12rem; border-bottom: 1px dotted #002f71;}
.shangbu-movie-main .movie-img{ float: left; width: 1.73rem; height: 2.47rem; border: 1px solid #afa34d;}
.shangbu-movie-main .movie-text{ float: left; width: 3.88rem; margin-left:0.25rem;}
.movie-list{ width: 100%;}
.movie-list li{ width: 100%; height: 0.48rem; line-height: 0.48rem;}
.movie-list span{ float: left; width: 1.22rem; font-size: 0.24rem; color: #00a8ff;}
.movie-list em{ float: left; width: 2.66rem;  font-size: 0.24rem; font-style: normal; color: #bababa; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.movie-list i{ margin-left: 2em;}
.movie-qiangpiao{ display: block; width: 2.96rem; height: 0.53rem; color: #fee201; font-size: 0.275rem; line-height: 0.53rem; text-align: center; margin: 0.06rem 0 0 0.56rem; background: url(../img/annv-bg.png);}

.shangbu-movie-tell{ width: 5.93rem; border-bottom: 1px dotted #002f71; margin-left: 0.12rem; padding-bottom: 0.12rem;}
.shangbu-movie-tell-1{ width: 1.82rem; height: 0.47rem; background: url(../img/yingping-bg.jpg) no-repeat left; line-height: 0.46rem; font-size: 0.24rem; color: #00a8ff; margin-top: 0.09rem; padding-left: 0.35rem;}
.shangbu-movie-tell-2 {width: 100%;}
.shangbu-movie-tell-2 li span{ float: left; color: #ffe200; font-size: 0.24rem; background: #0048b1; width: auto; height: 0.24rem; line-height: 0.24rem; margin: 0.04rem 0.05rem 0.03rem 0.05rem; padding:0.07rem 0.06rem 0.07rem 0.05rem;}

.shangbu-movie-time{ width:100%; padding-top: 0.02rem;}
.shangbu-movie-time-1{ width: 100%; height: 0.51rem; line-height: 0.51rem; font-size: 0.3rem; text-align: center; color: #ffeb00;}
.shangbu-movie-time-2{ padding-left: 0.58rem; width: 5.40rem; height: 0.72rem;}
.shangbu-movie-time-2 li a{ float: left; width: 2.41rem; height: 0.56rem;  margin-right: 0.08rem; font-size: 0.24rem; line-height: 0.56rem; padding-left: 0.1rem; color:#FFF; background: url(../img/time-bg.png) no-repeat left;}

.xiabu{ width: 6.27rem; padding: 0.33rem 0 0 0.13rem; margin: 0 auto;}
.xiabu-movie{ position: relative; width: 6.12rem; border-bottom: 1px dotted #002f71;}
.xiabu-movie-img{ position: relative; float: left; width: 1.18rem; height: 1.68rem; border: 1px solid #afa34d; margin-left: 0.02rem; margin-bottom: 0.24rem;}
.xiabu-movie-text{ float: left; width: 4.62rem; margin-left: 0.22rem;}
.xiabu-movie-text1{ width: 4.6rem; height: 0.37rem; line-height: 0.37rem; font-size: 0.3rem; color: #00a8ff; padding-left: 0.2rem;}
.xiabu-movie-text2{ width: 100%;}
.xiabu-movie-text2 li{ width: 100%; height: 0.46rem; line-height: 0.46rem;}
.xiabu-movie-text2 span{ float: left; width: 1.25rem; font-size: 0.24rem; color: #00a8ff;}
.xiabu-movie-text2 em{ float: left; width: 2.62rem;  font-size: 0.24rem; font-style: normal; color: #bababa; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.xiabu-movie-text2 i{ margin-left: 2em;}

.xiabu-movie-fanye{ position: absolute; top: 0.6rem; left: 5.84rem; width: 0.2rem; height: 0.34rem;}
.xiabu-movie-jianjia{ position: absolute; top: 0; left: 0;}
